[submodule "vim/vim.symlink/bundle/puppet"]
	path = vim/vim.symlink/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
